.container {
  padding-bottom: 3rem;
}

/* # section1-description start========= */
.description__container {
  padding: var(--pd-2);
}

.description__text {
  display: inline-block;
  width: 100%;
  padding: var(--pd-2) var(--pd-3);
  background-color: var(--color-lightBlue);
  color: var(--color-blue);
  border-radius: .5rem;
  border-left: .5rem solid var(--color-blue);
  font-size: var(--fontSize-xs);
}
/* # section1-description end========== */

/* # section2-content start========== */
.wrapper {
  grid-gap: 2rem;
  gap: 2rem;
  grid-template-areas: "sidebar main toc";
  grid-template-columns: minmax(0, 1fr) minmax(0, 2.5fr) minmax(0, 15rem);
  padding: 0 2rem;
}

/* ## sidebar-content start========= */
.sidebar__container {
  display: contents;
}

.sidebar__wrapper {
  grid-area: sidebar;
}

.sidebar {
  position: sticky;
  top: var(--document-sidebar-sticky-height);
}

.sidebar__module {
  font-size: var(--fontSize-sm);
  letter-spacing: 0.05rem;
  margin: var(--mg-1) 0;
}

.sidebar__knowledge {
  font-size: var(--fontSize-xxs);
  padding: var(--pd-1-5) var(--pd-2);
  margin-left: var(--mg-2);
  cursor: pointer;
}

.sidebar__knowledge--active {
  background-color: var(--theme-lightColor);
  color: var(--theme-color);
  border-left: .25rem solid var(--theme-color);
  font-weight: bold;
}

.toc__container {
  grid-area: toc;
}

.toc {
  position: sticky;
  top: var(--document-sidebar-sticky-height);
}
/* ## sidebar-content end========= */

/* ## main-content start========== */
.main__content {
  grid-area: main;
  background-color: blue;
}
/* ## main-content end=========== */

/* # section2-content end */