.container {
  position: fixed;
  z-index: 10;
  bottom: -10rem;
  right: 3rem;
  width: 2rem;
  height: 2rem;
  background-color: var(--theme-color);
  border-radius: 0.5rem;
  padding: 2rem 1.8rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.container:hover {
  transform: scale(1.05);
}

.show {
  bottom: 5rem;
}

.arrow {
  font-size: var(--fontSize-md);
  color: var(--color-light);
  margin-top: -0.2rem
}
