.container {
  max-width: 78vw;
  height: 45rem;
  margin: 5rem auto;
  grid-template-columns: var(--qa-wrapper-columns);
  grid-template-areas: var(--qa-wrapper-areas);
  padding: 1rem;
}

.container .popular,
.container .history {
  position: relative;
  display: var(--qa-sidebar-visible);
  background: var(--qa-sidebar-border) left top,
    var(--qa-sidebar-border) left top,
    var(--qa-sidebar-border) right top,
    var(--qa-sidebar-border) right top,
    var(--qa-sidebar-border) left bottom,
    var(--qa-sidebar-border) left bottom,
    var(--qa-sidebar-border) right bottom,
    var(--qa-sidebar-border) right bottom;
  background-repeat: no-repeat;
  background-size: 0.2rem 1rem, 1rem 0.2rem;
}

.popular {
  grid-area: sidebar-popular;
}

.chat {
  position: relative;
  grid-area: main;
  background-color: var(--color-lightBlue);
}

.history {
  grid-area: sidebar-history;
}

.popular::before,
.chat::before,
.history::before {
  content: attr(data-title) " ";
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--fontSize-xs);
  background-color: var(--theme-color);
  border-radius: 0.8rem 0.3rem;
  color: var(--color-light);
  padding: 0.3rem var(--pd-2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}