@import url("@s/common/variable.css"); /* import varible style(自定义变量样式文件) */
@import url("@s/common/reset.css"); /* import reset style(重置默认样式) */
@import url("@s/common/public.css"); /* imort public style(公共样式) */

.nav,
.content {
  padding: var(--layout-padding);
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}