@import url("@s/common/variable.css"); /* import varible style(自定义变量样式文件) */
@import url("@s/common/reset.css"); /* import reset style(重置默认样式) */
@import url("@s/common/public.css"); /* imort public style(公共样式) */

#root {
  background-color: var(--theme-bgColor);
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* sm */
@media screen and (max-width: 767px) {
  :root {
    --document-wrapper-areas: "main";
    --document-wrapper-columns: minmax(0, 1fr);
    --document-sidebar-display: none;
  }
}
@media screen and (max-width: 567px) {
  :root {
    --header-logo-visible: none;
    --header-nav-title-visible: none;

    --content-mode-content: 1fr;
    --about-size: 20rem;
    --about-title: var(--fontSize-sm);
    --about-front-content: none;
    --about-left-unimport-visible: none;

    --gpt-quick-action-columns: 1fr;

    --footer-content: 1fr;
    --footer-header-align: center;
    --footer-recommend-align: center;
  }
}
@media screen and (max-width: 430px) {
  :root {
    --content-common-content: repeat(2, 1fr);
    --gpt-container-max-width: 100vw;
    --gpt-main-padding: 0 var(--pd-1);
  }
}

/* xs */
@media screen and (min-width: 768px) {
  :root {
    --gpt-quick-action-columns: repeat(3, 1fr);
  }
}

/* md */
@media screen and (min-width: 992px) {
  :root {
    --qa-wrapper-areas: "sidebar-popular main sidebar-history";
    --qa-wrapper-columns: 16vw 1fr 16vw;
    --qa-sidebar-visible: flex;
    --gpt-wrapper-areas: "aside main";
    --gpt-wrapper-columns: 20rem 1fr;
    --gpt-sidebar-visible: block;
    --gpt-main-border-radius: 0 3rem 3rem 0;
    --footer-content: repeat(3, 1fr);
  }
}

/* lg */
@media screen and (min-width: 1200px) {
  :root {
    --document-wrapper-areas: "sidebar main toc";
    --document-wrapper-columns: minmax(0, 1fr) minmax(0, 2.5fr) minmax(0, 24rem);
    --document-toc-display: block;
  }
}