.footer {
  background: var(--footer-bgColor);
  color: var(--footer-textColor);
  padding: var(--pd-6) var(--pd-3) var(--pd-8);
}

.footer__content {
  grid-template-columns: var(--footer-content);
  margin-bottom: var(--mg-5);
}

.footer__header {
  text-align: var(--footer-header-align);
}

.footer__title {
  font-size: var(--fontSize-sm);
  text-transform: uppercase;
}

.footer__subtitle {
  font-size: var(--fontSize-xs);
  margin-top: var(--mg-1);
}

.footer__contact {
  padding: 0 var(--pd-5);
  justify-content: center;
}

.footer__recommend {
  justify-content: var(--footer-recommend-align);
}

.footer__recommend--item {
  color: var(--footer-textColor);
  font-size: var(--fontSize-xs);
}

.footer__describe {
  text-align: center;
  font-size: var(--fontSize-xxs);
  color: var(--color-gray);
}

.footer__descibe--author {
  color: var(--color-gray);
}

.social__link {
  color: var(--color-light);
}

.social__link:hover {
  color: var(--theme-color);
}

.social__icon {
  font-size: var(--fontSize-md);
}