.header {
  position: sticky;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  /* box-shadow: var(--header-boxShadow); */
}

.nav {
  height: 100%;
}

.nav__logo {
  color: var(--theme-textColor);
  font-size: var(--fontSize-sm);
}